<!DOCTYPE html>
<html>
  <head>
    <script src="https://use.fontawesome.com/edb8528b4a.js"></script>
    <title>Niftynote</title>
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>

    <%= yield %>

  </body>
</html>
